body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
margin: 0;
padding: 0;
}

body {
font-family: "Times New Roman", sans-serif;
line-height: 1.6;
background-color: #f9f9f9;
color: #333;
}

header {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
}


header h1 {
font-size: 2em;
margin-bottom: 10px;
}


section {
padding: 20px;
margin-bottom: 20px;
background-color: #fff;
border: 1px solid #ccc;
}


section h2 {
font-size: 1.5em;
margin-bottom: 10px;
}


article {
margin-bottom: 20px;
}

article h4 {
font-size: 1.2em;
margin-bottom: 10px;
}

article section {
margin-bottom: 10px;
}

article strong {
font-weight: bold;
}


footer {
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
}
